.FooterSection{
    height: 612px;
   border-bottom: 4rem solid black;
}
.Container{
    max-width: 1440px;
    margin: auto;
    height: 100%;
    
}
.FooterContent{
    height: 100%;
    width: 100%;
   background-image: url('../../../assets/vector/aboutus-back.svg');
  

}